// src/components/Header.scss

/* Base styles for the navbar */
.navbar-container {
    background-color: black;
    padding: 10px 0;
    position: sticky !important;
    top: 0;
    z-index: 10000;
  }
  
  .portfolio-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white !important;
    letter-spacing: 2px;
  }
  
  .menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 10;
  }
  
  .line {
    width: 30px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .line.open:nth-child(2) {
    opacity: 0;
  }
  
  .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
  
  .menu-content {
    text-align: center;
  }
  
  .menu-items {
    display: flex;
    flex-direction: column !important;
    gap: 30px;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
  }
  
  .menu-items .nav-link {
    color: white !important;
    text-decoration: none;
  }

  .close-btn {
    position: absolute;
    top: 1%;
    right: 16%;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  .x-icon {
    font-weight: bold;
    font-size: 30px;
  }